.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

ul {
  list-style-type: none;
}


#content-wrapper {
  display: grid;  
  grid-template-columns: 1fr 1fr;
}

#list {
  grid-column: 1 / 2;
}

#list li {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background: #00FF00;
  padding: 10px;
  margin: 15px 0 15px 0;
}

#input-wrapper {
  grid-column: 2 / 3;
}

.timestamp {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
}

.timestamp h3 {
  text-align: left;
}

.delete-icon {
  font-size: 4em;
}